:root {
  /* TODO: --wcc-font-family: */
  --wcc-padding: 1em;
  --wcc-gap: 0.75em;
}

html {
  /* <wcc-app-menu> */
  --wcc-app-menu-gap: var(--wcc-gap);
  --wcc-app-menu-padding: var(--wcc-padding);
  --wcc-app-menu-min-width: 220px;
  --wcc-app-menu-max-width: 100%;
  --wcc-app-menu-color: #F1F1F1;
  --wcc-app-menu-background: linear-gradient(180deg, #5E7FE1 30%, #354F9B 100%);
  --wcc-app-menu-items-gap: calc(var(--wcc-gap) / 2);

  /* <wcc-app-container> */
  --wcc-app-container-gap: var(--wcc-gap);
  --wcc-app-container-background: #F1F1F1;
}

body {
  font-family: var(--wcc-font-family);
}
