:root {
  /* TODO: --wcc-font-family: */
  --wcc-padding: 1em;
  --wcc-gap: 0.75em;
}

html {
  /* <wcc-app-menu> */
  --wcc-app-menu-gap: var(--wcc-gap);
  --wcc-app-menu-padding: var(--wcc-padding);
  --wcc-app-menu-min-width: 220px;
  --wcc-app-menu-max-width: 100%;
  --wcc-app-menu-color: #F1F1F1;
  --wcc-app-menu-background: linear-gradient(180deg, #5E7FE1 30%, #354F9B 100%);
  --wcc-app-menu-items-gap: calc(var(--wcc-gap) / 2);

  /* <wcc-app-container> */
  --wcc-app-container-gap: var(--wcc-gap);
  --wcc-app-container-background: #F1F1F1;

  /* <wcc-spinner> */
  --wcc-spinner-width: 35px;
  --wcc-spinner-height: 35px;
  --wcc-spinner-radius: 100%;
  --wcc-spinner-dot-size: 6px;
  --wcc-spinner-dot-radius: 100%;
  --wcc-spinner-color: #354F9B;
  --wcc-spinner-background: trasparent;
  --wcc-spinner-border: 0.25em solid transparent;
  --wcc-spinner-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  --wcc-spinner-animation: 1s;
  --wcc-spinner-animation-delay: 1.2s;
}

body {
  font-family: var(--wcc-font-family);
}
