webc-spinner {
  /**
   * @prop --animation
   * @prop --animation-delay
   * @prop --background
   * @prop --border
   * @prop --box-shadow
   * @prop --color
   * @prop --dot-radius
   * @prop --dot-size
   * @prop --height
   * @prop --radius
   * @prop --width
   * @prop --z-index
   */

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index);

  & > .circle-fade {
    position: relative;
    width: var(--width);
    height: var(--height);
    border: var(--border);
    border-radius: var(--radius);
    background: var(--background);
    box-shadow: var(--box-shadow);

    & > .circle {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;

      &::after {
        content: '';
        display: block;
        margin: 0.15em auto;
        width: var(--dot-size);
        height: var(--dot-size);
        background-color: var(--color);
        border-radius: var(--dot-radius);
        animation: var(--animation);
      }
    }
  }

  @for $i from 1 through 9 {
    & > .circle-fade .circle-#{$i} {
      transform: rotate($i * -40deg);

      &::after {
        animation-delay: calc(#{$i / -10} * var(--animation-delay));
      }
    }
  }
}

@keyframes spinner-default-animation {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

[hidden] {
    display: none !important;
}
