webc-spinner {
  /**
   * @prop --webc-spinner-width
   * @prop --webc-spinner-height
   * @prop --webc-spinner-radius
   * @prop --webc-spinner-dot-size
   * @prop --webc-spinner-dot-radius
   * @prop --webc-spinner-color
   * @prop --webc-spinner-background
   * @prop --webc-spinner-border
   * @prop --webc-spinner-box-shadow
   * @prop --webc-spinner-animation
   * @prop --webc-spinner-animation-delay
   * @prop --webc-spinner-z-index
   */

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--webc-spinner-z-index);

  & > .circle-fade {
    position: relative;
    width: var(--webc-spinner-width);
    height: var(--webc-spinner-height);
    border: var(--webc-spinner-border);
    border-radius: var(--webc-spinner-radius);
    background: var(--webc-spinner-background);
    box-shadow: var(--webc-spinner-box-shadow);

    & > .circle {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;

      &::after {
        content: '';
        display: block;
        margin: 0.15em auto;
        width: var(--webc-spinner-dot-size);
        height: var(--webc-spinner-dot-size);
        background-color: var(--webc-spinner-color);
        border-radius: var(--webc-spinner-dot-radius);
        animation: spinner-default-animation var(--webc-spinner-animation) infinite linear;
      }
    }
  }

  @for $i from 1 through 9 {
    & > .circle-fade .circle-#{$i} {
      transform: rotate($i * -40deg);

      &::after {
        animation-delay: calc(#{$i / -10} * var(--webc-spinner-animation-delay));
      }
    }
  }
}

@keyframes spinner-default-animation {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
