c-app-menu {
  display: grid;
  padding: var(--c-app-menu-padding);

  & c-app-menu-item {
    display: flex;

    & .item {
      cursor: pointer;

      &, & a {
        color: var(--c-app-menu-color);
      }
    }
  }
}
