.psk-card .card-body div {
  padding: 0 !important;
}

.docs-section article {
  padding-bottom: 1.5rem !important;
}

.docs-section article > h3,
.docs-section .table > h3 {
  margin: 0 0 0.15rem 0 !important;
  padding: 2rem 0.65rem 0.4rem 0.4rem !important;
  font-size: 1.15rem;
  font-weight: bolder;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.02);
}

.docs-section .psk-card .card-body .table {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.4rem 1rem;
}

.docs-section .psk-card .card-body article .table {
  padding: 0 0.4rem !important;
  gap: 0.35rem 1.5rem;
}

.docs-section .table > span {
  font-size: 0.9rem;
  font-weight: lighter;
}

.docs-section .table > div {
  font-size: 1rem;
  text-align: left;
}

.docs-section .table code {
  background: whitesmoke;
  padding: 2px 5px;
  border-radius: 3px;
  color: #212121;
  font-size: 0.9rem;
}

.docs-section .table > span > code,
.docs-section .table > div > code {
  color: #008A64;
}

.docs-section .table.table-with-head {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.docs-section.tag {
  margin-top: 0.65rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.docs-section.tag h1 {
  font-size: 1.65rem;
}

.docs-section.tag .encapsulation {
  border: 1px solid whitesmoke;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;
}

.docs-section.description p {
  padding-top: 0;
  font-size: 1.1rem;
}
