webc-app-container {
  /**
   * @prop --webc-app-container-gap: Gap between slots.
   * @prop --webc-app-container-background: Background for all your pages.
   */

  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--webc-app-container-gap);
  overflow-y: auto;
  background: var(--webc-app-container-background);

  .container {
    // bootstrap override
    max-width: 100%; padding: 0;
  }

  &.slot-before {
    grid-template-rows: auto 1fr;
  }

  &.slot-after {
    grid-template-rows: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-rows: auto 1fr auto;
  }
}
