webc-app-container {
  /**
   * @prop --gap: Gap between slots.
   * @prop --background: Background for all your pages.
   */

  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--gap);
  overflow-y: auto;
  background: var(--background);

  .container {
    // bootstrap override
    max-width: 100%; padding: 0;
  }

  &.slot-before {
    grid-template-rows: auto 1fr;
  }

  &.slot-after {
    grid-template-rows: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-rows: auto 1fr auto;
  }
}
