@import 'wcc-app-menu';

wcc-app-menu[mode=vertical] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--wcc-app-menu-gap);
  overflow-y: auto;
  min-width: var(--wcc-app-menu-min-width);
  max-width: var(--wcc-app-menu-max-width);
  background: var(--wcc-app-menu-background);

  &.slot-before {
    grid-template-rows: auto 1fr;
  }

  &.slot-after {
    grid-template-rows: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-rows: auto 1fr auto;
  }

  .content {
    display: grid;
    row-gap: var(--wcc-app-menu-gap);
    grid-template-rows: auto 1fr;
  }

  .app-menu {
    &.items, .items {
      display: flex;
      flex-direction: column;
      align-content: start;
      row-gap: var(--wcc-app-menu-items-gap);
    }
    .items {
      margin-top: calc(var(--wcc-app-menu-items-gap) * 0.65);
      margin-bottom: var(--wcc-app-menu-items-gap);
    }

    wcc-app-menu-item {
      &[active] {
        font-weight: bold;
      }

      .dropdown {
        .items {
          display: none;
          margin-left: var(--wcc-app-menu-padding);
        }

        &[active] {
          & > .items {
            display: grid;
          }
        }
      }
    }
  }
}

wcc-app-menu[mode=vertical][disable-identity] {
  .content {
    grid-template-rows: 1fr;
  }
}
