@import 'wcc-app-menu';

wcc-app-menu[mode=horizontal] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--wcc-app-menu-gap);
  position: sticky;
  top: 0; left: 0; right: 0;
  color: var(--wcc-app-menu-horizontal-color);
  height: var(--wcc-app-menu-horizontal-height);
  background: var(--wcc-app-menu-horizontal-background);
  padding: var(--wcc-app-menu-horizontal-padding);
  box-shadow: var(--wcc-app-menu-horizontal-box-shadow);

  &.slot-before {
    grid-template-columns: auto 1fr;
  }

  &.slot-after {
    grid-template-columns: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-columns: auto 1fr auto;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .app-menu {
    display: flex;
    gap: var(--wcc-app-menu-gap);
    justify-content: flex-end;
    width: 100%;

    wcc-app-menu-item {
      & > .dropdown {
        & > .items {
          display: none;
          margin: var(--wcc-app-menu-horizontal-dropdown-margin);

          .item {
            padding: var(--wcc-app-menu-horizontal-dropdown-items-padding);

            &, & > a {
              color: var(--wcc-app-menu-horizontal-dropdown-color);
            }
          }
        }

        &[active] {
          & > .items {
            display: grid;
          }
        }
      }

      &[level="0"] {
        position: relative;

        & > .item,
        & > .dropdown > .item {
          display: flex;
          align-items: center;
          height: 100%;
        }

        & > .dropdown {
          & > .item {
            margin-right: var(--wcc-app-menu-horizontal-triangle-size);
            padding-right: calc(3 * var(--wcc-app-menu-horizontal-triangle-size));

            &:after {
              position: absolute;
              left: 100%; top: 50%;
              margin-top: calc(-0.5 * var(--wcc-app-menu-horizontal-triangle-size));
              margin-left: calc(-2 * var(--wcc-app-menu-horizontal-triangle-size));
              content: '';
              display: block;
              border-left: var(--wcc-app-menu-horizontal-triangle-size) solid transparent;
              border-right: var(--wcc-app-menu-horizontal-triangle-size) solid transparent;
              border-top: var(--wcc-app-menu-horizontal-triangle-size) solid var(--wcc-app-menu-color);
            }
          }

          & > .items {
            position: absolute;
            top: 100%; left: 0;
            margin-left: 0;
            padding: var(--wcc-app-menu-horizontal-dropdown-padding);
            background: var(--wcc-app-menu-horizontal-dropdown-background);
            width: var(--wcc-app-menu-horizontal-dropdown-width);
            border-radius: var(--wcc-app-menu-horizontal-dropdown-radius);
            box-shadow: var(--wcc-app-menu-horizontal-dropdown-box-shadow);
          }

          &[active] {
            & > .item {
              font-weight: bold;
            }
            & > .items {
              display: none;
            }
          }

          &:hover {
            & > .items {
              display: grid;
            }
          }
        }
      }

      &[active] {
        font-weight: bold;
      }

      &:last-child {
        &[level="0"] {
          .dropdown {
            & > .items {
              left: initial;
              right: 0;
            }
          }
        }
      }
    }
  }
}
