@import 'webc-app-menu';

webc-app-menu[mode=vertical] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--gap);
  overflow-y: auto;
  min-width: var(--min-width);
  max-width: var(--max-width);
  color: var(--color);
  background: var(--background, var(--webc-primary-background));
  padding: var(--padding);

  &::-webkit-scrollbar {
    width: 8px; height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-background);
    border: var(--scrollbar-thumb-border);
    border-radius: 0;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-background);
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-background);
    border-radius: 0;
  }

  &.slot-before {
    grid-template-rows: auto 1fr;
  }

  &.slot-after {
    grid-template-rows: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-rows: auto 1fr auto;
  }

  .content {
    display: grid;
    row-gap: var(--gap);
    grid-template-rows: auto 1fr;
  }

  .app-menu {
    margin-top: 1rem;

    webc-app-menu-item {
      & > .dropdown {
        & > .items {
          display: none;
          margin: var(--dropdown-margin);
          row-gap: var(--dropdown-gap);
          padding: var(--dropdown-items-padding);
        }

        &[active] {
          & > .items {
            display: grid;
          }
        }
      }

      &[level="0"] {
        padding: var(--items-padding);
        border-top: 1px solid var(--border-color);

        &:last-child {
          border-bottom: 1px solid var(--border-color);
        }
      }

      &[active] {
        font-weight: bold;
      }

      &, & a {
        color: var(--color);
      }
    }
  }
}

webc-app-menu[mode=vertical][disable-identity] {
  .content {
    grid-template-rows: 1fr;
  }
}
