@import 'webc-app-menu';

webc-app-menu[mode=mobile] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--gap);
  position: sticky;
  top: 0; left: 0; right: 0;
  color: var(--color);
  height: var(--height);
  background: var(--background);
  padding: var(--padding);
  box-shadow: var(--box-shadow);

  &.slot-before {
    grid-template-columns: auto 1fr;
  }

  &.slot-after {
    grid-template-columns: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-columns: auto 1fr auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // bootstrap override
    background: transparent;

    .app-menu-toggle {
      .burger {
        position: relative;
        background: transparent;
        border: 0.5rem solid transparent;
        width: 2.5rem; height: 2.0rem;

        .line {
          &,
          &:before,
          &:after {
            position: absolute;
            content: '';
            left: 0; right: 0;
            height: 2px;
            overflow: hidden;
            margin-top: -1px;
            border-radius: 2px;
            background: var(--burger-color);
            transition: all var(--burger-transition-duration) ease-in-out;
          }

          & {
            top: 50%;
          }
          &:first-child {
            top: 0;
          }
          &:last-child {
            top: 100%;
          }
        }
      }
    }
  }

  .app-menu-backdrop {
    display: none;
    position: fixed;
    left: 0; top: var(--height); right: 0; bottom: 0;
    z-index: calc(var(--z-index) - 1);

    .app-menu {
      display: grid;
      gap: var(--gap);
      overflow-y: auto;
      width: 100%; height: 100%;
      padding: 1rem;
      align-content: start;

      @for $i from 1 through 5 {
        @media screen and (min-width: $i * 320px) {
          grid-template-columns: repeat($i, 1fr);
        }
      }

      webc-app-menu-item {
        &, & a {
          color: var(--color);
        }

        & > .dropdown {
          & > .items {
            display: none;
            margin: var(--dropdown-margin);
            row-gap: var(--dropdown-gap);
            padding: var(--dropdown-items-padding);
          }

          &[active] {
            & > .items {
              display: grid;
            }
          }
        }

        &[level="0"] {
          padding: var(--items-padding);
          border-bottom: 1px solid var(--items-border-color);
        }

        &[active] {
          font-weight: bold;
        }
      }
    }

    &:after {
      position: fixed;
      display: block;
      content: '';
      left: 0; top: var(--height); right: 0; bottom: 0;
      background: var(--backdrop-background);
      backdrop-filter: var(--backdrop-filter);
      z-index: -1;
    }

    &, &:after {
      opacity: 0;
      pointer-events: none;
      transition: all var(--backdrop-transition-duration) ease-in-out;
    }
  }

  &[active] {
    .app-menu-backdrop {
      display: flex;
    }

    &[visible] {
      .app-menu-backdrop {
        &, &:after {
          opacity: 1;
          pointer-events: all;
        }
      }

      .app-menu-toggle {
        .burger {
          .line {
            &:first-child,
            &:last-child {
              top: 50%;
            }

            &:first-child {
              transform: rotateZ(-45deg);
            }
            &:nth-child(2) {
              height: 0;
            }
            &:last-child {
              transform: rotateZ(45deg);
            }
          }
        }
      }
    }
  }
}
