@import 'webc-app-menu';

webc-app-menu[mode=horizontal] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--gap);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: var(--color);
  height: var(--height);
  background: var(--background);
  padding: var(--padding);
  box-shadow: var(--box-shadow);

  &.slot-before {
    grid-template-columns: auto 1fr;
  }

  &.slot-after {
    grid-template-columns: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-columns: auto 1fr auto;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .app-menu {
    display: flex;
    gap: var(--gap);
    justify-content: flex-end;
    width: 100%;

    webc-app-menu-item {
      &, & a {
        color: var(--color);
      }

      & > .dropdown {
        & > .items {
          display: none;
          margin: var(--dropdown-margin);

          .item {
            padding: var(--dropdown-items-padding);

            &, & > a {
              color: var(--dropdown-color);
            }
          }
        }

        &[active] {
          & > .items {
            display: grid;
          }
        }
      }

      &[level="0"] {
        position: relative;

        & > .item,
        & > .dropdown > .item {
          display: flex;
          align-items: center;
          height: 100%;
        }

        & > .dropdown {
          & > .item {
            margin-right: var(--triangle-size);
            padding-right: calc(3 * var(--triangle-size));

            &:after {
              position: absolute;
              left: 100%;
              top: 50%;
              margin-top: calc(-0.5 * var(--triangle-size));
              margin-left: calc(-2 * var(--triangle-size));
              content: '';
              display: block;
              border-left: var(--triangle-size) solid transparent;
              border-right: var(--triangle-size) solid transparent;
              border-top: var(--triangle-size) solid var(--color);
            }
          }

          & > .items {
            position: absolute;
            top: 100%;
            left: 0;
            margin-left: 0;
            padding: var(--dropdown-padding);
            background: var(--dropdown-background);
            width: var(--dropdown-width);
            border-radius: var(--dropdown-radius);
            box-shadow: var(--dropdown-box-shadow);
          }

          &[active] {
            & > .item {
              font-weight: bold;
            }

            & > .items {
              display: none;
            }
          }

          &:hover {
            & > .items {
              display: grid;
            }
          }
        }
      }

      &[active] {
        font-weight: bold;
      }

      &:last-child {
        &[level="0"] {
          .dropdown {
            & > .items {
              left: initial;
              right: 0;
            }
          }
        }
      }
    }
  }
}
