webc-app-menu {
  /**
   * All modes
   *
   * @prop --gap: Space between slots.
   * @prop --items-gap: Space between <code>webc-app-menu-item</code>s.
   * @prop --z-index
   * Other values: <small><code>none</code>, <code>horizontal</code> and <code>mobile</code>.</small>
   * @prop --disable-identity: Default value is <code>false</code>.<br>
   * Other values: <small><code>true</code>.
   */

  // The following props are excluded from docs, but all of them are valid

  /* Vertical mode
   *
   * @prop --vertical-menu-background
   * @prop --vertical-menu-border-color
   * @prop --vertical-menu-color
   * @prop --vertical-menu-dropdown-gap
   * @prop --vertical-menu-dropdown-margin
   * @prop --vertical-menu-dropdown-items-padding
   * @prop --vertical-menu-items-padding
   * @prop --vertical-menu-max-width
   * @prop --vertical-menu-min-width
   * @prop --vertical-menu-padding
   * @prop --scrollbar-thumb-background
   * @prop --scrollbar-thumb-hover-background
   * @prop --scrollbar-thumb-border
   * @prop --scrollbar-track-background
   */

  /* Horizontal mode
   *
   * @prop --horizontal-menu-background
   * @prop --horizontal-menu-box-shadow
   * @prop --horizontal-menu-color
   * @prop --horizontal-menu-dropdown-color
   * @prop --horizontal-menu-dropdown-background
   * @prop --horizontal-menu-dropdown-margin
   * @prop --horizontal-menu-dropdown-padding
   * @prop --horizontal-menu-dropdown-width
   * @prop --horizontal-menu-dropdown-radius
   * @prop --horizontal-menu-dropdown-box-shadow
   * @prop --horizontal-menu-dropdown-items-padding
   * @prop --horizontal-menu-height
   * @prop --horizontal-menu-items-padding
   * @prop --horizontal-menu-padding
   * @prop --horizontal-menu-triangle-size
   */

  /* Mobile mode
   *
   * @prop --mobile-menu-backdrop-transition-duration
   * @prop --mobile-menu-background
   * @prop --mobile-menu-box-shadow
   * @prop --mobile-menu-breakpoint
   * @prop --mobile-menu-burger-color
   * @prop --mobile-menu-burger-transition-duration
   * @prop --mobile-menu-color
   * @prop --mobile-menu-dropdown-gap
   * @prop --mobile-menu-dropdown-items-padding
   * @prop --mobile-menu-dropdown-margin
   * @prop --mobile-menu-items-border-color
   * @prop --mobile-menu-items-padding
   * @prop --mobile-menu-height
   * @prop --mobile-menu-padding
   */

  display: grid;
  z-index: var(--z-index);

  .container {
    // bootstrap override
    max-width: 100%; padding: 0;
  }

  & webc-app-menu-item {
    display: flex;

    & .item {
      cursor: pointer;

      &, & a {
        text-decoration: none;
      }
    }
  }
}
