:host {
  /**
   * @prop --webc-app-identity-color: Color of all text elements.
   * @prop --webc-app-identity-avatar-width: Size of the picture.
   * @prop --webc-app-identity-avatar-radius: Picture radius.
   * @prop --webc-app-identity-row-gap: Vertical space between "name" and "email".
   * @prop --webc-app-identity-column-gap: Horizontal space.
   * @prop --webc-app-identity-name-font-size: Size of font for "name".
   * @prop --webc-app-identity-email-font-size: Size of font for "email".
   */

  display: grid;
  row-gap: var(--webc-app-identity-row-gap);
  place-content: center;
  justify-content: stretch;

  a {
    color: var(--webc-app-identity-color);
    text-decoration: none;
  }

  & > img {
    border-radius: var(--webc-app-identity-avatar-radius);
  }

  & > .name {
    font-size: var(--webc-app-identity-name-font-size);
  }

  & > .email {
    font-size: var(--webc-app-identity-email-font-size);
  }
}

:host(.has-avatar) {
  grid-template-columns: var(--webc-app-identity-avatar-width) 1fr;
  column-gap: var(--webc-app-identity-column-gap);

  & > img {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
  }

  & > .email,
  & > .name {
    grid-column: 2 / 3;
  }

  & > .name {
    align-self: end;
  }
}
