:host {
  /**
   * @prop --avatar-width: Size of the picture.
   * @prop --avatar-radius: Picture radius.
   * @prop --color: Color of all text elements.
   * @prop --column-gap: Horizontal space.
   * @prop --email-font-size: Size of font for "email".
   * @prop --name-font-size: Size of font for "name".
   * @prop --row-gap: Vertical space between "name" and "email".
   */

  display: grid;
  row-gap: var(--row-gap);
  place-content: center;
  justify-content: stretch;

  a {
    color: var(--color);
    text-decoration: none;
  }

  & > img {
    border-radius: var(--avatar-radius);
  }

  & > .name {
    font-size: var(--name-font-size);
  }

  & > .email {
    font-size: var(--email-font-size);
  }
}

:host(.has-avatar) {
  grid-template-columns: var(--avatar-width) 1fr;
  column-gap: var(--column-gap);

  & > img {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
  }

  & > .email,
  & > .name {
    grid-column: 2 / 3;
  }

  & > .name {
    align-self: end;
  }
}
