wcc-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--wcc-app-container-gap);
  overflow-y: auto;
  background: var(--wcc-app-container-background);

  .container {
    // bootstrap override
    max-width: 100%; padding: 0;
  }

  &.slot-before {
    grid-template-rows: auto 1fr;
  }

  &.slot-after {
    grid-template-rows: 1fr auto;
  }

  &.slot-before.slot-after {
    grid-template-rows: auto 1fr auto;
  }
}
